*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

body{
    background-color: black;
    color: palegreen;
}

#clock{
    position: absolute;
    top:50%;
    left: 50%;
    border: 2px solid rebeccapurple;
    padding: 15px;
}

